<div class="page">
  <div class="wrapper">
    <form [formGroup]='user' (ngSubmit)='onSubmit()' class="form">
      <h3 class="header">register new user</h3>
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" id="username" formControlName='username'>
        <div class='warning' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
          a username is required
        </div>
        <div class='warning' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
          the username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
        </div>
        <div class='warning' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
          a user with that name already exists
        </div>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" id="email" formControlName="email">
        <div class='warning' *ngIf=' user.get("email").errors?.required && user.get("email").touched'>
          an email address is required
        </div>
        <div class='warning' *ngIf='user.get("email").errors?.emailAlreadyExists && user.get("email").touched'>
          a user with that email address already exists.
        </div>
      </div>
      <div formGroupName='passwordGroup' class="passwordGroup">
        <div class="form-group">
          <label for="password">password:</label>
          <input type="password" id="password" formControlName='password'>
          <div class='warning' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
            password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
          </div>
        </div>
        <div class="form-group">
          <label for="confirmpassword">confirm password:</label>
          <input type="password" id="confirmpassword" formControlName='confirmPassword'>
        </div>
        <div class='warning' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
          the two passwords should be the same
        </div>
      </div>
      <div class="left">
        <button type='submit' [disabled]='!user.valid' class="register">register</button>
      </div>

    </form>

  </div>
</div>
