<div class="page">
  <div class="pictures">
    <div class="item" *ngFor="let image of images">
      <div class="thumb">
        <img src="{{image.pathToPicture}}" alt="picture">
      </div>
      <div class="info">
        <div class="info-sub">
          <div class="title">author</div>
          <div class="value">{{image.author.username}}</div>
        </div>
        <div class="info-sub">
          <div class="title">title</div>
          <div class="value">{{image.title}}</div>
        </div>
        <div class="info-sub">
          <div class="title">description</div>
          <div class="value">{{image.description}}</div>
        </div>
        <div class="info-sub">
          <div class="title">date published</div>
          <div class="value">{{image.datePublished}}</div>
        </div>
      </div>
      <div class="actions">
        <div class="action">
          <button (click)="remove(image.id)">remove</button>
        </div>
        <div class="action">
          <button (click)="flag(image.id)">flag</button>
        </div>
      </div>
    </div>
  </div>
</div>
