<div class="nav-bg">
  <img src="assets/img/triangle-white.svg" alt="etecatcher" class="triangle">
</div>
<nav role="navigation" class="nav">
  <ul class="nav-list">
    <li class="nav-list-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/discover']">Discover</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/blog']">Blog</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/upload']">Upload</a>
    </li>
    <li *ngIf="(currentUser | async) else loginLink" class="dropdown nav-list-item">
      <div class="dropdown-text">Account</div>
      <ul class="dropdown-content">
        <li class="dropdown-content-item">
          <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="dropdown-content-item">
          <a (click)="logout()">log out</a>
        </li>
      </ul>
    </li>
    <ng-template #loginLink>
      <li class="nav-list-item">
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ng-template>
  </ul>
</nav>
