<div class="nav-bg">
  <img src="assets/img/triangle-white.svg" alt="etecatcher" class="triangle">
</div>
<nav>
  <ul>
    <div>
      <a [routerLink]="['/']">
        <li>Home</li>
      </a>
    </div>
    <div>
      <a [routerLink]="['/discover']">
        <li>Discover</li>
      </a>
    </div>
    <div>
      <a [routerLink]="['/blog']">
        <li>Blog</li>
      </a>
    </div>  
    <div *ngIf="isAuthenticated()">
      <a [routerLink]="['/account']">
        <li>Account</li>
      </a>
    </div>
    <app-login *ngIf="!isAuthenticated()"></app-login>
  </ul>
</nav>
