<div class="nav-bg">
  <img src="assets/img/triangle-white.svg" alt="etecatcher" class="triangle">
</div>
<nav role="navigation" class="nav">
  <ul class="nav-list">
    <li class="nav-list-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/discover']">Discover</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/blog']">Blog</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/upload']">Upload</a>
    </li>
    <li class="dropdown nav-list-item">
      <div class="dropdown-text">Account</div>
      <ul class="dropdown-content">
        <li class="dropdown-content-item">
          <a href="#">Profile</a>
        </li>
        <li class="dropdown-content-item">
          <a href="#">Settings</a>
        </li>
        <li class="dropdown-content-item">
          <a href="#">log out</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
