.img {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 100%;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
