<div class="page">
  <div class="container">
    <div class="left">
      <img src="{{img.pathToPicture}}" alt="picture">
    </div>
    <div class="right">
      <div class="header">
        <div class="avatar"></div>
        <div class="author">
          <a [routerLink]="['/profile/'+img?.author.id]">{{img?.author.username}}</a>
        </div>
      </div>
      <div class="buttons">
        <button class="like" (click)="like($event)" [ngClass]="[liked?'liked':'not-liked']">
          <i class="material-icons">favorite_border</i>{{img?.likes}}
        </button>
      </div>
      <div class="info">
        <h4>{{img?.title}}</h4>
        <p>{{img?.description}}</p>
        <p>{{img?.camera}}</p>
        <p>{{img?.lens}}</p>
      </div>
    </div>
  </div>
</div>
