<div class="login-page-outer">
  <div class="login-page">
    <h2>login</h2>
    <form action="post" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" id="username">
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input id="password" type="password">
      </div>
      <button type="button" class="login" (click)="login()">Login</button>
      <button type="button" class="register">register</button>
      <button type="button" class="pw-reset">reset password</button>
    </form>
  </div>
</div>
