.page {
  margin-top: 25px;
  .pictures {
    box-sizing: border-box;
    padding: 3rem;
    .item {
      display: flex;
      flex-direction: row;
      .thumb {
        max-width: 300px;
        img {
          max-width: 100%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        &-sub {
          display: flex;
          flex-direction: row;
          .title {
            width: 25%;
            font-weight: bold;
            text-align: right;
            box-sizing: border-box;
            padding-right: 10px;
          }
          .value {
            width: 75%;
            text-align: left;
          }
        }
      }
      .actions {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
      }
    }
  }
}
