.page {
  width: 90%;
  margin: 0 auto;
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    button {
      display: inline-block;
      font-family: 'Maven Pro', sans-serif;
      line-height: 1.5em;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
      padding: 10px 30px;
      width: 20%;
      position: relative;
      box-shadow: 0 0 1px transparent;
      background: #009ee3;
      transition-property: color;
      transition-duration: 1s;
      overflow: hidden;
      transform: perspective(1px) translateZ(0);
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #e1e1e1;
        border-radius: 100%;
        transform: scale(2);
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }
      &:hover,
      &:focus,
      &:active {
        &:before {
          transform: scale(0);
        }
      }
      &:hover {
        color: white;
      }
    }
  }
  .posts {
    width: 100%;
    &-list {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      &-item {
        margin-bottom: 25px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
        .post {
          margin: 0 auto;
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 2px 16px;
          .title {}
          .author {}
        }
      }
    }
  }
}
