.wrapper {
  width: 100vw;
  min-height: 70vh;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  .side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .img-container {
      width: 100%;
      img {
        width: 75%;
        max-width: 75%;
      }
    }
  }
  input[type=text],
  textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    &.ng-invalid {
      border: 1px solid rgb(228, 103, 103);
    }
  }
  input[type=text]:focus,
  textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    &.ng-invalid {
      box-shadow: 0 0 5px rgb(204, 36, 36);
      border: 1px solid rgba(204, 36, 36, 1);
    }
  }
  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      box-sizing: border-box;
      padding: 25px;
      .form-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        label {
          width: 20%;
          text-align: right;
          box-sizing: border-box;
          padding-right: 10px;
          padding-top: 5px;
        }
        input {
          width: 80%;
          font-size: 1.5rem;
          font-weight: 200;
        }
        textarea {
          width: 80%;
          font-size: 1.5rem;
          font-weight: 200;
        }
        button {
          display: inline-block;
          font-family: 'Maven Pro', sans-serif;
          line-height: 1.5em;
          font-size: 16px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #2c3e50;
          padding: 10px 30px;
          width: 20%;
          position: relative;
          box-shadow: 0 0 1px transparent;
          background: #009ee3;
          transition-property: color;
          transition-duration: 1s;
          overflow: hidden;
          transform: perspective(1px) translateZ(0);
          &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #e1e1e1;
            border-radius: 100%;
            transform: scale(2);
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          &:hover,
          &:focus,
          &:active {
            &:before {
              transform: scale(0);
            }
          }
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width:750px) {
  .wrapper {
    flex-direction: column;
    .side {
      width: 100%;
    }
    .form {
      width: 100%;
    }
  }
}
